<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Pool Ladder</title>
</head>
<body>

<h1>Pool Ladder</h1>

<% if @players.any? %>
  <ol id="playerList">
    <% @players.each do |player| %>
        <li><%= player.name %></li>
    <% end %>
  </ol>
<% end %>

<form action="/" method="POST">
  <label for="playerName">New Player:</label><input type="text" id="playerName" name="player[name]">
  <input type="submit" value="New Player">
</form>

</body>
</html>