<section role="main" class="scroll-container">
  <div class="row">
    <div class="small-10 columns">
      <h1 id="pageHeading">Sports Ladder</h1>
      <ul id="ladderList" class="no-bullet">
        <% if ladders.any? %>
            <% ladders.each do |ladder| %>
                <li class="panel ladder">
                  <dl>
                    <dt><a href="ladder/<%= ladder.slug %>"><%= ladder.name %></a></dt>
                    <dd><%= ladder.description %></dd>
                  </dl>
                </li>
            <% end %>
        <% end %>
        <li class="panel">
          <form action="" method="POST">
            <dl>
              <dt>
                <label>Ladder name:
                  <input type="text" id="ladderName" name="ladder[name]">
                </label>
              </dt>
              <dd>
                <label>Description:
                  <input type="text" id="ladderDescription" name="ladder[description]">
                </label>
              </dd>
              <dd><input type="submit" class="button" value="Create ladder"></dd>
            </dl>
          </form>
        </li>
      </ul>
    </div>
  </div>
</section>
