<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Sports Ladder</title>
</head>
<body>

<h1 id="pageHeading">Sports Ladder</h1>

<% if ladders.any? %>
    <ul id="ladderList">
      <% ladders.each do |ladder| %>
          <li>
            <a href="ladder/<%= ladder.slug %>"><%= ladder.name %></a>
            <span><%= ladder.description %></span>
          </li>
      <% end %>
    </ul>
<% end %>

</body>
</html>