<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Sports Ladder</title>

  <link rel="stylesheet" href="/stylesheets/app.css"/>
  <%= js :modernizr %>
</head>
<body>

<nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1 id="navHeading"><a href="#">Sports Ladder</a></h1>
    </li>
  </ul>
</nav>

<%= yield %>

</body>
</html>