<!DOCTYPE html>
<html>
<head>
  <meta charset='UTF-8'/>
  <title>Sports Ladder - <%= ladder.name %></title>
</head>
<body>

<h1 id="pageHeading"><%= ladder.name %></h1>

<% if ladder.players.any? %>
    <ol id="playerList">
      <% ladder.players.order(position: :asc).each do |player| %>
          <li><%= player.name %></li>
      <% end %>
    </ol>
<% end %>

<form action="" method="POST">
  <label for="playerName">New Player:</label><input type="text" id="playerName" name="player[name]">
  <input type="submit" value="New Player">
</form>

<%= js :libs %>
<script>
    var winner = undefined;

    function player_position(player) {
        return $(player).index()
    }

    function winner_ranked_higher_than_loser(winner, loser) {
        return player_position(winner) > player_position(loser)
    }

    function promotePlayer(winner, loser) {
        if (winner_ranked_higher_than_loser(winner, loser)) {
            $(loser).before(winner);
        }
    }

    $("#playerList").find("li").click(function () {
        if (typeof winner == "undefined") {
            winner = this;
        } else {
            promotePlayer(winner, this);
            winner = undefined;
        }
    });

</script>
</body>
</html>